@font-face {
  font-family: "Spartan", sans-serif;
  src: url(https://fonts.google.com/specimen/Spartan);
}
html {
  font-family: "Spartan", sans-serif;
  background-color: #e06d06;
  color: #ffffff;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 100px;
  margin-bottom: -100px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}
.PostHeader {
  align-self: flex-start;
  font-size: 100%;
  font-weight: bold;
}
.post {
  padding: 10px;
  border-radius: 20px;
  background-color: #582909;
  width: 400;
  height: auto;
  align-items: center;
  text-align: center;
  margin-top: 300px;
  margin-left: 90px;
  margin-right: 90px;
}
img {
  max-width: 100%;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-style: italic;
}
a:hover {
  text-decoration: underline;
}
